{% extends 'AwaBaseBundle::userBase.html.twig' %}

{% block body -%}
    <h1>Our recent applications</h1>
		
		{% for entity in entities %}
           
                <a href="{{ path('aplication_show', { 'id': entity.id }) }}">{{ entity.id }}</a>
                {{ entity.name }}
                <a href="{{entity.urlDescarga}}" target="blank">{{ entity.name }}</a>
                {{ entity.price }}
        {% endfor %}
        
    {% endblock %}
