<p></p>{% extends 'AwaBaseBundle::base.html.twig' %}

{% block body -%}
    <h1>AAplication list</h1>

    <table class="records_list  table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Urldescarga</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('aplication_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.urlDescarga }}</td>
                <td>{{ entity.price }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('aplication_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('aplication_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('aplication_distributor_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
